<div ng-show="tag.tags.length || tag.problems.length">
	<p>Item tagged by {{tag.name}}.</p>
	<div class="tags" ng-show="tag.tags.length">
		<p>Tags</p>
		<ul>
			<li ng-repeat="subtag in tag.tags"><a href="#/tag/{{subtag.id}}">{{subtag.name}}</a></li>
		</ul>
	</div>
	<div class="problems" ng-show="tag.problems.length">
		<p>Problems</p>
		<ul>
			<li ng-repeat="problem in tag.problems"><a href="#/problem/{{problem.id}}">{{problem.name}}</a></li>
		</ul>
	</div>
</div>
<div ng-hide="tag.tags.length || tag.problems.length">
	<p>No item tagged by {{tag.name}}.</p>
</div>
<div ng-show="tag.tagged.length">
	<p>Tagged by:</p>
	<ul>
		<li ng-repeat="tagby in tag.tagged"><a href="#/tag/{{tagby.id}}">{{tagby.name}}</a></li>
	</ul>
</div>
<div ng-hide="tag.tagged.length">
	<p>Not tagged by anyone.</p>
</div>
