<div ng-show="subtags.length || problems.length">
	<p>Item tagged by {{tag.name}}.</p>
	<div class="tags" ng-show="subtags.length">
		<p>Tags</p>
		<ul>
			<li ng-repeat="subtag in subtags"><a href="#/tag/{{subtag.id}}">{{subtag.name}}</a></li>
		</ul>
	</div>
	<div class="problems" ng-show="problems.length">
		<p>Problems</p>
		<ul>
			<li ng-repeat="problem in problems"><a href="#/problem/{{problem.id}}">{{problem.name}}</a></li>
		</ul>
	</div>
</div>
<div ng-hide="subtags.length || problems.length">
	<p>No item tagged by {{tag.name}}.</p>
</div>
<div ng-show="tagged.length">
	<p>Tagged by:</p>
	<ul>
		<li ng-repeat="tagby in tagged"><a href="#/tag/{{tagby.id}}">{{tagby.name}}</a></li>
	</ul>
</div>
<div ng-hide="tagged.length">
	<p>Not tagged by anyone.</p>
</div>
